#!/bin/sh

#
# Program: GO.config
#
# Purpose:
#
#   Configuration file for GO load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for GO load
#
# History:
#
#	03/25/2003	lec
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="`pwd`/runTimeGO"
ARCHIVE_DIR="`pwd`/archiveGO"

export RUNTIME_DIR
export ARCHIVE_DIR

LOAD_PROGRAM="GOdownloader.py GOload.py"
RCD_FILE="GO.rcd"
MAINTAINER="lec@informatics.jax.org, hjd@informatics.jax.org"
DOWNLOADER_LOG_FILE="${RUNTIME_DIR}/GOdownloader.log"

# note that this functionality will be moved to the mirrorFTP product (see TR 4630)
FTPSERVER="genome-ftp.stanford.edu"       # GO FTP server
FTPONT_DIR="pub/go/ontology"              # ontology file directory
FTPDEFS_DIR="pub/go/doc"                  # definitions file directory

export LOAD_PROGRAM
export RCD_FILE
export MAINTAINER
export DOWNLOADER_LOG_FILE
export FTPSERVER 
export FTPONT_DIR 
export FTPDEFS_DIR

# vocabulary attributes:

VOCAB_NAME="GO"		# name of vocabulary (VOC_Vocab.name)
ACC_PREFIX="GO"		# acc ID prefix
JNUM="J:73041"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=31	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=1000     # VOC_AnnotType._AnnotType_key
MGITYPE=13		# ACC_MGIType._MGIType_key

export VOCAB_NAME
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export MGITYPE

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/GO.defs"

export TERM_FILE
export DEFS_FILE

# $Log$
# Revision 1.7  2003/03/26 15:51:32  lec
# moved call to Configuration and other comman vars to VOClib.config and Configuration
#
# Revision 1.6  2003/03/26 15:50:22  lec
# moved call to Configuration and other comman vars to VOClib.config and Configuration
#
# Revision 1.5  2003/03/26 15:39:38  lec
# added LOAD_PROGRAM
#
# Revision 1.4  2003/03/26 15:30:38  lec
# use VOClib.config, etc.
#
# Revision 1.3  2003/03/25 17:32:59  lec
# new Configuration files
#
# Revision 1.2  2003/03/25 15:02:45  lec
# new configuration files/names
#
# Revision 1.1  2003/03/25 14:54:14  lec
# new configuration file
#
# Revision 1.1  2003/03/25 14:25:43  lec
# new
#
# Revision 1.1  2003/03/25 13:59:17  lec
# new config file
#
# Revision 1.3  2003/03/25 13:49:26  lec
# new Configuration files
#
# Revision 1.2  2003/03/25 13:30:19  lec
# new
#
