#!/bin/sh

#
# Program: GO.config
#
# Purpose:
#
#   Configuration file for GO load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for GO load
#

cd `dirname $0` 

RUNTIME_DIR="${DATALOADSOUTPUT}/mgi/vocload/runTimeGO"
ARCHIVE_DIR="${DATALOADSOUTPUT}/mgi/vocload/archiveGO"
DATA_DIR="/data/downloads/purl.obolibrary.org/obo/go/snapshot"
export RUNTIME_DIR
export ARCHIVE_DIR
export DATA_DIR

TERM_FILE="${RUNTIME_DIR}/Termfile"
OBO_FILE="${DATA_DIR}/go-basic.obo"
OBO_FILE_VERSION="1.2"

export TERM_FILE
export OBO_FILE
export OBO_FILE_VERSION

# This variable will let the loadTerm module know that it should expect to
# find a synonym type column in the Termfile.
#
USE_SYNONYM_TYPE=1
export USE_SYNONYM_TYPE

LOAD_PROGRAM="${LOAD_PROGRAM} GOremoveannot.py"
RCD_FILE="GO.rcd"
export LOAD_PROGRAM
export RCD_FILE

case `uname -n` in
bhmgiapp01) MAINTAINER="mgiadmin";;
*) MAINTAINER="$USER";;
esac
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="GO"		 # name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1000   # name of note types for comments
ACC_PREFIX="GO"		 # acc ID prefix
JNUM="J:73041"		 # reference for this vocabulary
IS_SIMPLE=0		 # structured vocabulary; should be a .rcd file
IS_PRIVATE=0		 # acc IDs are public
LOGICALDB_KEY=31	 # ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=1000      # VOC_AnnotType._AnnotType_key; report annotations to
			 # newly obsoleted terms
MGITYPE=13		 # ACC_MGIType._MGIType_key
DAG_ROOT_ID="GO:0003673" # GO ID of root node which is referfed to in multiple files

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export MGITYPE
export DAG_ROOT_ID

# This section defines attributes for the parent obsolete term that will
# be added by the load if it does not already exist.
OBSOLETE_TERM="obsolete_terms"
OBSOLETE_ID="GO:XXXXXX0"
OBSOLETE_DEFINITION="If term is found that is either outside the scope of GO, misleadingly named, incorrectly defined, or is a concept that would be better represented in another way, rather than delete the term, it is made obsolete. The term and ID still exist in the GO database, but the term is marked as obsolete, and a comment added, giving a reason for it being obsoleted, and recommending alternative terms where appropriate."
OBSOLETE_COMMENT=""
OBSOLETE_NAMESPACE="obsolete_terms"

export OBSOLETE_TERM
export OBSOLETE_ID
export OBSOLETE_DEFINITION
export OBSOLETE_COMMENT
export OBSOLETE_NAMESPACE

