#!/bin/sh

#
# Program: GO.config
#
# Purpose:
#
#   Configuration file for GO load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for GO load
#
# History:
#
#	03/25/2003	lec
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="/data/loads/mgi/vocload/runTimeGO"
ARCHIVE_DIR="/data/loads/mgi/vocload/archiveGO"
DATA_DIR="/data/downloads/ftp.geneontology.org/pub/go/ontology"

export RUNTIME_DIR
export ARCHIVE_DIR
export DATA_DIR

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${DATA_DIR}/GO.defs"
OBO_FILE="${DATA_DIR}/gene_ontology_edit.obo"
OBO_FILE_VERSION="1.2"

export TERM_FILE
export DEFS_FILE
export OBO_FILE
export OBO_FILE_VERSION

# This variable will let the loadTerm module know that it should expect to
# find a synonym type column in the Termfile.
#
USE_SYNONYM_TYPE=1
export USE_SYNONYM_TYPE

LOAD_PROGRAM="${LOAD_PROGRAM} GOremoveannot.py"
RCD_FILE="GO.rcd"
MAINTAINER="mgiadmin, hjd@informatics.jax.org"

export LOAD_PROGRAM
export RCD_FILE
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="GO"		 # name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1000   # name of note types for comments
ACC_PREFIX="GO"		 # acc ID prefix
JNUM="J:73041"		 # reference for this vocabulary
IS_SIMPLE=0		 # structured vocabulary; should be a .rcd file
IS_PRIVATE=0		 # acc IDs are public
LOGICALDB_KEY=31	 # ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=1000      # VOC_AnnotType._AnnotType_key
MGITYPE=13		 # ACC_MGIType._MGIType_key
DAG_ROOT_ID="GO:0003673" # GO ID of root node which is referfed to in multiple files

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export MGITYPE
export DAG_ROOT_ID
