#!/bin/sh

#
# Program: HP.config
#
# Purpose:
#
#   Configuration file for Human Phenotype Ontology Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for HPO load
#
# History:
#
#	03/04/2016	sc
#	- new Configuration file
#

cd `dirname $0` 

#RUNTIME_DIR="${DATALOADSOUTPUT}/mgi/vocload/runTimeHPO"
#ARCHIVE_DIR="${DATALOADSOUTPUT}/mgi/vocload/archiveHPO"
RUNTIME_DIR=/data/loads/mgi/vocload/runTimeHPO
ARCHIVE_DIR=/data/loads/mgi/vocload/archiveHPO

export RUNTIME_DIR ARCHIVE_DIR

DATA_DIR="/data/downloads/purl.obolibrary.org/obo"
OBO_FILE="${DATA_DIR}/hp.obo"
OBO_FILE_VERSION="1.2"

export DATA_DIR OBO_FILE OBO_FILE_VERSION

# This variable will let the loadTerm module know that it should expect to
# find a synonym type column in the Termfile.
#
USE_SYNONYM_TYPE=1
export USE_SYNONYM_TYPE

RCD_FILE="HPO.rcd"
export RCD_FILE

case `uname -n` in
bhmgidevapp01) MAINTAINER="mgiadmin";;
*) MAINTAINER="sharon.giannatto@jax.org";;
esac
export MAINTAINER
#*) MAINTAINER="mgiadmin, cynthia.smith@jax.org, susan.bello@jax.org";;
# vocabulary attributes:

VOCAB_NAME="Human Phenotype Ontology"		# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1001	# name of note types for comments
ACC_PREFIX="HP"		# acc ID prefix
JNUM="J:229231"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=180	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key; don;t report annotations
                        # to newly obsoleted terms
DAG_ROOT_ID="HP:0000001"

export VOCAB_NAME VOCAB_COMMENT_KEY ACC_PREFIX JNUM
export IS_SIMPLE IS_PRIVATE LOGICALDB_KEY
export ANNOT_TYPE_KEY DAG_ROOT_ID

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/HPO.defs"
#HEADER_FILE="${RUNTIME_DIR}/HPO.header"
#NOTE_FILE="${RUNTIME_DIR}/HPO.note"
#SYNONYM_FILE="${RUNTIME_DIR}/HPO.synonym"

export TERM_FILE DEFS_FILE 
#export HEADER_FILE NOTE_FILE SYNONYM_FILE
