#!/bin/sh

#
# Program: IP.config
#
# Purpose:
#
#   Configuration file for Adult Mouse Anatomy Load
#
# Usage:
#
#   Execute this file from runIPLoad.sh (or command line) to 
#   set environment variables for IP load
#
# History:
#
#	03/25/2003	lec
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="`pwd`/runTimeIP"
ARCHIVE_DIR="`pwd`/archiveIP"

export RUNTIME_DIR
export ARCHIVE_DIR

RCD_FILE="simple.rcd"
ARCHIVE_FILE_NAME="${ARCHIVE_DIR}/vocload.`date +%Y%m%d:%H:%M`.jar"
FULL_LOG_FILE="${RUNTIME_DIR}/fullLog.txt"
MAINTAINER="lec@informatics.jax.org, terryh@informatics.jax.org"
MAIL_FILE_NAME="${RUNTIME_DIR}/mail.txt"
IP_LOAD_LOG_FILE="${RUNTIME_DIR}/log.txt"

export RCD_FILE
export ARCHIVE_FILE_NAME
export FULL_LOG_FILE
export MAINTAINER
export MAIL_FILE_NAME
export IP_LOAD_LOG_FILE

# vocabulary attributes:

VOCAB_NAME="InterPro Domain"		# name of vocabulary (VOC_Vocab.name)
ACC_PREFIX="IPR"	# acc ID prefix
JNUM="J:23000"		# reference for this vocabulary
IS_SIMPLE=1		# structured vocabulary
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=28	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key

export VOCAB_NAME
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY

DATA_FILE="${RUNTIME_DIR}/names.dat
TERM_FILE="${RUNTIME_DIR}/Termfile

export DATA_FILE
export TERM_FILE

# set defaults
. Configuration

# $Log$
# Revision 1.3  2003/03/25 18:29:44  lec
# new Configuration files
#
# Revision 1.2  2003/03/25 18:08:56  lec
# new Configuration files
#
# Revision 1.1  2003/03/25 18:02:48  lec
# new Configuration files
#
