#!/bin/sh

#
# Program: IP.config
#
# Purpose:
#
#   Configuration file for Adult Mouse Anatomy Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for IP load
#
# History:
#
#	03/25/2003	lec
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="/data/loads/mgi/vocload/runTimeIP"
ARCHIVE_DIR="/data/loads/mgi/vocload/archiveIP"

export RUNTIME_DIR
export ARCHIVE_DIR

LOAD_PROGRAM="IP.py ${LOAD_PROGRAM}"
MAINTAINER="mgiadmin"

export LOAD_PROGRAM
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="InterPro Domains"		# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=0     # name of note types for comments
JNUM="J:82527"		# reference for this vocabulary
IS_SIMPLE=1		# structured vocabulary
IS_PRIVATE=0		# acc IDs are public LOGICALDB_KEY=28	# ACC_LogicalDB._LogicalDB_key
LOGICALDB_KEY=28        # ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=1003     # VOC_AnnotType._AnnotType_key

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY

IP_FILE="/data/downloads/ftp.ebi.ac.uk/pub/databases/interpro/names.dat"
DATA_FILE="${RUNTIME_DIR}/IP.tab"
TERM_FILE="${RUNTIME_DIR}/Termfile"
DAG_ROOT_ID=""

export IP_FILE
export DATA_FILE
export TERM_FILE
export DAG_ROOT_ID
