#!/bin/sh

#
# Program: MA.config
#
# Purpose:
#
#   Configuration file for Adult Mouse Anatomy Load
#
# Usage:
#
#   Execute this file from runMALoad.sh (or command line) to 
#   set environment variables for MA load
#
# History:
#
#	03/25/2003	lec
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="`pwd`/runTimeMA"
ARCHIVE_DIR="`pwd`/archiveMA"

export RUNTIME_DIR
export ARCHIVE_DIR

LOAD_PROGRAM="GOload.py"
RCD_FILE="MA.rcd"
ARCHIVE_FILE_NAME="${ARCHIVE_DIR}/vocload.`date +%Y%m%d:%H:%M`.jar"
FULL_LOG_FILE="${RUNTIME_DIR}/fullLog.txt"
MAINTAINER="lec@informatics.jax.org, terryh@informatics.jax.org"
MAIL_FILE_NAME="${RUNTIME_DIR}/mail.txt"
LOAD_LOG_FILE="${RUNTIME_DIR}/log.txt"

export LOAD_PROGRAM
export RCD_FILE
export ARCHIVE_FILE_NAME
export FULL_LOG_FILE
export MAINTAINER
export MAIL_FILE_NAME
export LOAD_LOG_FILE

TRDIR="/mgi/all/wts_projects/4500/4537"
TRONTFILE="adult_mouse_anatomy.gxd"
TRDEFSFILE="anatomy_defs.gxd"

export TRDIR
export TRONTFILE
export TRDEFSFILE

# vocabulary attributes:

VOCAB_NAME="Adult Mouse Anatomy"		# name of vocabulary (VOC_Vocab.name)
ACC_PREFIX="MA"		# acc ID prefix
JNUM="J:81861"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=42	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key

export VOCAB_NAME
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/anatomy_defs.gxd"

export TERM_FILE
export DEFS_FILE

# set defaults
. Configuration

# $Log$
# Revision 1.4  2003/03/26 15:30:39  lec
# use VOClib.config, etc.
#
# Revision 1.3  2003/03/25 18:08:57  lec
# new Configuration files
#
# Revision 1.2  2003/03/25 17:58:04  lec
# new Configuration files
#
# Revision 1.1  2003/03/25 17:33:00  lec
# new Configuration files
#
#
