#!/bin/sh

#
# Program: MA.config
#
# Purpose:
#
#   Configuration file for Adult Mouse Anatomy Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for MA load
#
# History:
#
#	03/25/2003	lec
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="/data/loads/mgi/vocload/runTimeMA"
ARCHIVE_DIR="/data/loads/mgi/vocload/archiveMA"

export RUNTIME_DIR
export ARCHIVE_DIR

RCD_FILE="MA.rcd"
LOAD_PROGRAM="GOverify.py ${LOAD_PROGRAM}"
MAINTAINER="lec@informatics.jax.org, sc@informatics.jax.org, dbm@informatics.jax.org, terryh@informatics.jax.org"

export RCD_FILE
export LOAD_PROGRAM
export MAINTAINER

TRDIR="/mgi/all/wts_projects/4500/4537"
TRONTFILE="adult_mouse_anatomy.gxd"
TRDEFSFILE="anatomy_defs.gxd"

export TRDIR
export TRONTFILE
export TRDEFSFILE

# vocabulary attributes:

VOCAB_NAME="Adult Mouse Anatomy"		# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1000  # name of note types for comments
ACC_PREFIX="MA"		# acc ID prefix
JNUM="J:81861"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=42	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key
DAG_ROOT_ID=""

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export DAG_ROOT_ID

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/anatomy_defs.gxd"

export TERM_FILE
export DEFS_FILE

