#!/bin/sh

#
# Program: MCV.config
#
# Purpose:
#
#   Configuration file for Marker Category load
#

cd `dirname $0` 

RUNTIME_DIR="${DATALOADSOUTPUT}/mgi/vocload/runTimeMCV"
ARCHIVE_DIR="${DATALOADSOUTPUT}/mgi/vocload/archiveMCV"

export RUNTIME_DIR
export ARCHIVE_DIR

OBO_FILE="${DATALOADSOUTPUT}/mgi/mcvload/input/MCV_Vocab.obo"
OBO_FILE_VERSION="1.2"
export OBO_FILE
export OBO_FILE_VERSION

# This variable will let the loadTerm module know that it should expect to
# find a synonym type column in the Termfile.
#
USE_SYNONYM_TYPE=1
export USE_SYNONYM_TYPE

RCD_FILE="MCV.rcd"
export RCD_FILE

case `uname -n` in
bhmgiapp01) MAINTAINER="mgiadmin,richard.baldarelli@jax.org";;
*) MAINTAINER="$USER";;
esac
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="Marker Category"         # name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1001               # note type - private vocab term comment
ACC_PREFIX="MCV"		     # acc ID prefix

JNUM="J:159278"         # reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should have a .rcd file
IS_PRIVATE=1		# acc IDs are NOT public
LOGICALDB_KEY=146	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key;don't report annotations
                        # newly obsoleted terms; there won't be any anyway
DAG_ROOT_ID="MCV:0000001"

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export DAG_ROOT_ID

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/MCV.defs"

export TERM_FILE
export DEFS_FILE
