#!/bin/sh

#
# Program: MouseCyc.config
#
# Purpose:
#
#   Configuration file for MouseCyc Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for MouseCyc load
#
# History:
#
#	10/14/2008	lec
#	- TR 9206, MouseCyc
#

cd `dirname $0` 

RUNTIME_DIR="/data/loads/mgi/vocload/runTimeMouseCyc"
ARCHIVE_DIR="/data/loads/mgi/vocload/archiveMouseCyc"
DATA_DIR="/data/loads/mousecyc/mousecycload/input"

export RUNTIME_DIR
export ARCHIVE_DIR
export DATA_DIR

OBO_FILE="${DATA_DIR}/mousecyc_pathways.obo"
OBO_FILE_VERSION="1.0"

export OBO_FILE
export OBO_FILE_VERSION

# This variable will let the loadTerm module know that it should expect to
# find a synonym type column in the Termfile.
#
USE_SYNONYM_TYPE=1
export USE_SYNONYM_TYPE

LOAD_PROGRAM="${LOAD_PROGRAM}"
RCD_FILE="MouseCyc.rcd"
#MAINTAINER="mgiadmin"
MAINTAINER="lec"

export LOAD_PROGRAM
export RCD_FILE
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="MouseCyc"	# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=0	# name of note types for comments
ACC_PREFIX=""		# acc ID prefix
JNUM="J:139709"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=120	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=1010     # VOC_AnnotType._AnnotType_key
DAG_ROOT_ID=""

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export DAG_ROOT_ID

TERM_FILE="${RUNTIME_DIR}/Termfile"

export TERM_FILE

