#!/bin/sh

#
# Program: MP.config
#
# Purpose:
#
#   Configuration file for Mammalian Phenotype Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for MP load
#
# History:
#
#	03/25/2003	lec
#	- new Configuration file
#

cd `dirname $0` 

RUNTIME_DIR="/data/loads/mgi/vocload/runTimeMP"
ARCHIVE_DIR="/data/loads/mgi/vocload/archiveMP"

export RUNTIME_DIR
export ARCHIVE_DIR

RCD_FILE="MP.rcd"
#MAINTAINER="lec@informatics.jax.org, csmith@informatics.jax.org, smb@informatics.jax.org"
MAINTAINER="lec@informatics.jax.org"

export RCD_FILE
export MAINTAINER

TRDIR="/mgi/all/wts_projects/3800/3809"
TRONTFILE="MPheno.ontology"
TRDEFSFILE="MP.defs"

export TRDIR
export TRONTFILE
export TRDEFSFILE

# vocabulary attributes:

VOCAB_NAME="Mammalian Phenotype"		# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1001	# name of note types for comments
ACC_PREFIX="MP"		# acc ID prefix
JNUM="J:72460"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=34	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key
DAG_ROOT_ID=""
TOPOLOGICAL_SORT=true   # Should the topological sort be done (true/false)
HEADER_ANNOT_TYPE_KEY=1002

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export DAG_ROOT_ID
export TOPOLOGICAL_SORT
export HEADER_ANNOT_TYPE_KEY

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/MP.defs"
HEADER_FILE="${RUNTIME_DIR}/MP.header"
NOTE_FILE="${RUNTIME_DIR}/MP.note"
SYNONYM_FILE="${RUNTIME_DIR}/MP.synonym"

export TERM_FILE
export DEFS_FILE
export HEADER_FILE
export NOTE_FILE
export SYNONYM_FILE

# $Log$
# Revision 1.21  2005/04/13 17:35:42  lec
# vocload-3-2-0-1
#
# Revision 1.20.2.3  2005/03/24 17:32:38  dbm
# Added call to VOC_processAnnotHeaderAll procedure after header load
#
# Revision 1.20.2.2  2005/03/23 16:21:49  dbm
# Added topological sort
#
# Revision 1.20.2.1  2005/03/17 14:53:39  dbm
# Added header, note and synonym files; moved runTimeMP and archiveMP
#
# Revision 1.20  2004/12/23 12:24:53  lec
# TR 6441;added smb
#
# Revision 1.19  2003/04/18 14:58:17  lec
# MGI 2.96
#
# Revision 1.18  2003/04/18 14:55:30  lec
# MGI 2.96
#
# Revision 1.17  2003/04/18 14:52:52  lec
# MGI 2.96
#
# Revision 1.16  2003/04/18 14:43:46  lec
# MGI 2.96
#
# Revision 1.15  2003/04/17 15:24:46  lec
# TR 4722
#
# Revision 1.14  2003/04/02 18:54:51  lec
# TR 4564
#
# Revision 1.13  2003/04/02 13:51:17  lec
# TR 4564
#
# Revision 1.12  2003/04/02 13:28:55  lec
# TR 4564
#
# Revision 1.11  2003/03/27 13:28:04  lec
# added call to GOverify.py
#
# Revision 1.10  2003/03/26 16:02:15  lec
# continuing to factor out common tasks/variables
#
# Revision 1.9  2003/03/26 15:52:30  lec
# moved call to Configuration and other comman vars to VOClib.config and Configuration
#
# Revision 1.8  2003/03/26 15:51:33  lec
# moved call to Configuration and other comman vars to VOClib.config and Configuration
#
# Revision 1.7  2003/03/26 15:50:23  lec
# moved call to Configuration and other comman vars to VOClib.config and Configuration
#
# Revision 1.6  2003/03/26 15:30:39  lec
# use VOClib.config, etc.
#
# Revision 1.5  2003/03/25 18:08:57  lec
# new Configuration files
#
# Revision 1.4  2003/03/25 17:58:05  lec
# new Configuration files
#
# Revision 1.3  2003/03/25 17:34:24  lec
# new Configuration files
#
# Revision 1.2  2003/03/25 17:10:37  lec
# new Configuration files
#
