#!/bin/sh

#
# Program: MP.config
#
# Purpose:
#
#   Configuration file for Mammalian Phenotype Load
#
# History:
#
# 11/02/2022 lec
#       per Sue:
#       • type 1 synonyms used for labels on the HMDC
#       • type 2 synonyms used for labels on allele summary pages (http://www.informatics.jax.org/allele/summary?markerId=MGI:105043) 
#       • the mpslimload is used for on ribbons on the gene page (http://www.informatics.jax.org/marker/MGI:105043)  
#       The slimload also specifies which MP headers should appear in the ribbon. The slim set leaves out “phenotype not analyzed” and “normal phenotype”.
#
#

cd `dirname $0` 

RUNTIME_DIR="${DATALOADSOUTPUT}/mgi/vocload/runTimeMP"
ARCHIVE_DIR="${DATALOADSOUTPUT}/mgi/vocload/archiveMP"

export RUNTIME_DIR
export ARCHIVE_DIR

OBO_FILE="${RUNTIME_DIR}/MPheno_OBO.ontology"
OBO_FILE_VERSION="1.2"
export OBO_FILE
export OBO_FILE_VERSION

# This variable will let the loadTerm module know that it should expect to
# find a synonym type column in the Termfile.
#
USE_SYNONYM_TYPE=1
export USE_SYNONYM_TYPE

RCD_FILE="MP.rcd"
export RCD_FILE

case `uname -n` in
bhmgiapp01) MAINTAINER="mgiadmin cynthia.smith@jax.org susan.bello@jax.org anna.anagnostopoulos@jax.org";;
*) MAINTAINER="$USER";;
esac
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="Mammalian Phenotype"		# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1000	# name of note types for comments
ACC_PREFIX="MP"		# acc ID prefix
JNUM="J:72460"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=34	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key; don;t report annotations
                        # to newly obsoleted terms
DAG_ROOT_ID="MP:0000001"
TOPOLOGICAL_SORT=true   # Should the topological sort be done (true/false)
HEADER_ANNOT_TYPE_KEY=1002

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export DAG_ROOT_ID
export TOPOLOGICAL_SORT
export HEADER_ANNOT_TYPE_KEY

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/MP.defs"
HEADER_FILE="${RUNTIME_DIR}/MP.header"
NOTE_FILE="${RUNTIME_DIR}/MP.note"
SYNONYM_FILE="${RUNTIME_DIR}/MP.synonym"

export TERM_FILE
export DEFS_FILE
export HEADER_FILE
export NOTE_FILE
export SYNONYM_FILE
