#!/bin/sh

#
# Program: OMIM.config
#
# Purpose:
#
#   Configuration file for OMIM Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for OMIM load
#
# History:
#
#	04/13/2005	lec
#	- TR 3853, OMIM
#

cd `dirname $0` 

RUNTIME_DIR="/data/loads/mgi/vocload/OMIM"
ARCHIVE_DIR="${RUNTIME_DIR}/archive"

export RUNTIME_DIR
export ARCHIVE_DIR

LOAD_PROGRAM="OMIM.setup OMIM.py ${LOAD_PROGRAM}"
MAINTAINER="lec@informatics.jax.org"

export LOAD_PROGRAM
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="OMIM"	# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=0	# name of note types for comments
ACC_PREFIX=""		# acc ID prefix
JNUM="J:23000"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=15	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY

DOWNLOAD_FILE_DIR="/data/downloads/ftp.ncbi.nih.gov/repository/OMIM"
COMPRESSED_OMIM_FILE="omim.txt.Z"
OMIM_FILE="${RUNTIME_DIR}/omim.txt"
DATA_FILE="${RUNTIME_DIR}/OMIM.tab"
TERM_FILE="${RUNTIME_DIR}/Termfile"
SYNONYM_FILE="${RUNTIME_DIR}/OMIM.synonym"
TRANSTERM_FILE="${RUNTIME_DIR}/OMIM.translation"
TRANSWORD_FILE="${RUNTIME_DIR}/OMIM.special"
DAG_ROOT_ID=""

export DOWNLOAD_FILE_DIR
export COMPRESSED_OMIM_FILE
export OMIM_FILE
export DATA_FILE
export TERM_FILE
export SYNONYM_FILE
export TRANSTERM_FILE
export TRANSWORD_FILE
export DAG_ROOT_ID

