#!/bin/sh

#
# Program: OMIM.config
#
# Purpose:
#
#   Configuration file for OMIM Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for OMIM load
#
# History:
#
#	10/02/2013	lec
# 	- TR11423/human-disease-portal (HDP)
#
#	08/12/2009	lec
#	- TR 9461, added DATE, updated OMIMtermcheck.py
#
#
#	04/13/2005	lec
#	- TR 3853, OMIM
#

cd `dirname $0` 

DATE=`date '+%Y-%m-%d'`
RUNTIME_DIR="${DATALOADSOUTPUT}/mgi/vocload/OMIM"
ARCHIVE_DIR="${DATALOADSOUTPUT}/archive"
ARCHIVEREPORTS_DIR="${ARCHIVE_DIR}/reports"

export DATE
export RUNTIME_DIR
export ARCHIVE_DIR
export ARCHIVEREPORTS_DIR

LOAD_PROGRAM="OMIM.setup OMIM.py OMIMtermcheck.py ${LOAD_PROGRAM}"
export LOAD_PROGRAM

case `uname -n` in
bhmgidevapp01) MAINTAINER="mgiadmin";;
*) MAINTAINER="mgiadmin";;
esac
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="OMIM"	# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=0	# name of note types for comments
ACC_PREFIX=""		# acc ID prefix
JNUM="J:98535"		# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=15	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key; don't report annotations
                        # to newly obsoleted terms

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY

DOWNLOAD_FILE_DIR="/data/downloads/omim"
COMPRESSED_OMIM_FILE="omim.txt.Z"
OMIM_FILE="${RUNTIME_DIR}/omim.txt"
DATA_FILE="${RUNTIME_DIR}/OMIM.tab"
TERM_FILE="${RUNTIME_DIR}/Termfile"
SYNONYM_FILE="${RUNTIME_DIR}/OMIM.synonym"
TRANSTERM_FILE="${RUNTIME_DIR}/OMIM.translation"
TRANSWORD_FILE="${RUNTIME_DIR}/OMIM.special"
EXCLUDE_FILE="${RUNTIME_DIR}/OMIM.exclude"
QC1_FILE="OMIMqc1"
QC2_FILE="OMIMqc2"
DAG_ROOT_ID=""

# TR11423/human-disease-portal (HDP)
# disease-cluster files
DCLUSTER_FILE="${RUNTIME_DIR}/OMIM.clusters"
DCLUSTER_FILENAME="OMIM.clusters.synonym"
DCLUSTERSYN_FILE="${RUNTIME_DIR}/${DCLUSTER_FILENAME}"
DCLUSTERDIFF1_FILE="${RUNTIME_DIR}/OMIM.clusters.diff1"
DCLUSTERDIFF2_FILE="${RUNTIME_DIR}/OMIM.clusters.diff2"

export DOWNLOAD_FILE_DIR
export COMPRESSED_OMIM_FILE
export OMIM_FILE
export DATA_FILE
export TERM_FILE
export SYNONYM_FILE
export TRANSTERM_FILE
export TRANSWORD_FILE
export EXCLUDE_FILE
export QC1_FILE
export QC2_FILE
export DAG_ROOT_ID

export DCLUSTER_FILE
export DCLUSTERSYN_FILENAME
export DCLUSTERSYN_FILE
export DCLUSTERDIFF1_FILE
export DCLUSTERDIFF2_FILE

