#!/bin/sh

#
# Program: SO.config
#
# Purpose:
#
#   Configuration file for Sequence Ontology
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for SO load
#
# History:
#
# 12/05/2018	jsb
#	- TR12963/DADT release (need SO for variant data)
#

cd `dirname $0` 

RUNTIME_DIR="${DATALOADSOUTPUT}/mgi/vocload/runTimeSO"
ARCHIVE_DIR="${DATALOADSOUTPUT}/mgi/vocload/archiveSO"

export RUNTIME_DIR
export ARCHIVE_DIR

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/so_defs"
OBO_FILE="/home/jsb/jax/data/downloads/raw.githubusercontent.com/The-Sequence-Ontology/SO-Ontologies/master/so.obo"
#OBO_FILE="${DATADOWNLOADS}/raw.githubusercontent.com/The-Sequence-Ontology/SO-Ontologies/master/so.obo"
OBO_FILE_VERSION="1.2"
export OBO_FILE
export OBO_FILE_VERSION
export TERM_FILE
export DEFS_FILE

# This variable will let the loadTerm module know that it should expect to
# find a synonym type column in the Termfile.
#
USE_SYNONYM_TYPE=1
export USE_SYNONYM_TYPE

LOAD_PROGRAM="SOpipeCleaner.sh ${LOAD_PROGRAM}"
RCD_FILE="SO.rcd"
export LOAD_PROGRAM
export RCD_FILE

case `uname -n` in
bhmgiapp01) MAINTAINER="mgiadmin";;
*) MAINTAINER="$USER";;
esac
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="Sequence Ontology"       # name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1000  # name of note types for comments
ACC_PREFIX="SO"         # acc ID prefix
JNUM="J:158872"         # reference for the SO vocabulary
#IS_SIMPLE=0             # structured vocabulary; should be a .rcd file
IS_SIMPLE=1             # just load terms for now (don't need DAG yet)
IS_PRIVATE=0            # acc IDs are public
LOGICALDB_KEY=145       # ACC_LogicalDB._LogicalDB_key (Sequence Ontology)
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key; don't report annotations
                        # to newly obsoleted terms
MGITYPE=13
DAG_ROOT_ID="SO:0000000"

export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export MGITYPE
export DAG_ROOT_ID
