#!/bin/sh

#
# Program: SO.config
#
# Purpose:
#
#   Configuration file for Sequence Ontology Load
#
# Usage:
#
#   Execute this file from a script or command line to
#   set environment variables for SO load
#
# History:
#
#       04/16/2010      sc
#       - new
#

cd `dirname $0` 

RUNTIME_DIR="/data/loads/mgi/vocload/runTimeSO"
ARCHIVE_DIR="/data/loads/mgi/vocload/archiveSO"

export RUNTIME_DIR
export ARCHIVE_DIR

OBO_FILE="/data/downloads/www.sequenceontology.org/resources/obo_files/current_release.obo"
OBO_FILE_VERSION="1.2"
export OBO_FILE
export OBO_FILE_VERSION

# This variable will let the loadTerm module know that it should expect to
# find a synonym type column in the Termfile.
#
USE_SYNONYM_TYPE=1
export USE_SYNONYM_TYPE

RCD_FILE="SO.rcd"
#MAINTAINER="mgiadmin, csmith@informatics.jax.org, smb@informatics.jax.org"
MAINTAINER="sc"

export RCD_FILE
export MAINTAINER

# vocabulary attributes:

VOCAB_NAME="Sequence Ontology"	# name of vocabulary (VOC_Vocab.name)
VOCAB_COMMENT_KEY=1001		# note type - private vocab term comment
#VOCAB_COMMENT_KEY=0	# What does '0' mean?
ACC_PREFIX="SO"			# acc ID prefix

JNUM="J:158872"			# reference for this vocabulary
IS_SIMPLE=0		# structured vocabulary; should be a .rcd file
IS_PRIVATE=0		# acc IDs are public
LOGICALDB_KEY=145	# ACC_LogicalDB._LogicalDB_key
ANNOT_TYPE_KEY=0        # VOC_AnnotType._AnnotType_key What does '0' mean?
# DAG_ROOT_ID="SO:0000001"  # region
DAG_ROOT_ID="SO:0000110"   # sequence_feature
#DAG_ROOT_ID="SO:0000400"    # sequence_attribute
export VOCAB_NAME
export VOCAB_COMMENT_KEY
export ACC_PREFIX
export JNUM
export IS_SIMPLE
export IS_PRIVATE
export LOGICALDB_KEY
export ANNOT_TYPE_KEY
export DAG_ROOT_ID

TERM_FILE="${RUNTIME_DIR}/Termfile"
DEFS_FILE="${RUNTIME_DIR}/SO.defs"

export TERM_FILE
export DEFS_FILE

# This section defines attributes for the parent obsolete term that will
# be added by the load if it does not already exist.
OBSOLETE_TERM="obsolete_terms"
OBSOLETE_ID="SO:XXXXXX0"
OBSOLETE_DEFINITION="If term is found that is either outside the scope of SO, misleadingly named, incorrectly defined, or is a concept that would be better represented in another way, rather than delete the term, it is made obsolete. The term and ID still exist in the SO database, but the term is marked as obsolete, and a comment added, giving a reason for it being obsoleted, and recommending alternative terms where appropriate."
OBSOLETE_COMMENT=""
OBSOLETE_NAMESPACE="obsolete_terms"

export OBSOLETE_TERM
export OBSOLETE_ID
export OBSOLETE_DEFINITION
export OBSOLETE_COMMENT
export OBSOLETE_NAMESPACE

